footer.main-footer.bg-blue.c-white.space
  .container.grid(style="max-width:1312px")
    .widget.py-3
      h3.divider address
      p 
        | Muktampur, Sarkhej Road, Juhapura, 
        br
        | Ahmedabad, Gujarat- 380055
      p.divider Ph.:7096667860  
      .social.pt-3
        a.d-inline-block.mr-3(href="#")
          img(src="dist/images/email.png" alt="")
        a.d-inline-block.mr-3(href="#")
          img(src="dist/images/home.png" alt="")
        a.d-inline-block.mr-3(href="#")
          img(src="dist/images/call.png" alt="")    
    .widget.py-3
      h3.divider quick links
      ul.p-0.m-0.list-unstyled
        li.bg-dark-blue.mb-2
          a.text-uppercase.c-white.px-3.py-2.text-uppercase.d-block(href="#") ALUMNI   
        li.bg-dark-blue.mb-2
          a.text-uppercase.c-white.px-3.py-2.text-uppercase.d-block(href="#") VACANCY 
        li.bg-dark-blue.mb-2
          a.text-uppercase.c-white.px-3.py-2.text-uppercase.d-block(href="#") ADMISSION 
        li.bg-dark-blue.mb-2
          a.text-uppercase.c-white.px-3.py-2.text-uppercase.d-block(href="#") PHOTO GALLERY 
        li.bg-dark-blue.mb-2
          a.text-uppercase.c-white.px-3.py-2.text-uppercase.d-block(href="#") ADMISSION ENQUIRY FORM              
    .widget.py-3
      h3.divider LOCATION MAP
      iframe.map.w-100(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30703867.07167991!2d64.40183608457191!3d20.04915895569305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sbd!4v1571216758087!5m2!1sen!2sbd' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen='')
footer.footer-bottom.bg-dark-blue.c-white.py-3
  .container-fluid
    .copy Copyright 2019 by Model School 