header.header-top
  .container.grid
    .logo.d-flex.align-content-center.align-items-center
      a(href="#")
        div
          img(src="dist/images/logo.png" alt="")
    .site-title.d-flex.justify-content-end.flex-column
      .admision-button
        a.button-top.btn(href="#") Admission Open      
        a.button-top.btn(href="#") Quick Inquiry
      h1.m-0 Model English & Gujarati Medium School
      p Juhapura, Ahmedabad, Gujarat- 380055
.container.p-0
  nav.navbar.navbar-expand-xl.py-xl-0.full-width-lg
    button.navbar-toggler.ml-auto(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      i.fas.fa-bars
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='#')
            | home 
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | About us
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another
            a.dropdown-item(href='#') Something 
        li.nav-item
          a.nav-link(href='#') acadamics
        li.nav-item
          a.nav-link(href='#') admission
        li.nav-item
          a.nav-link(href='#') my school
        li.nav-item
          a.nav-link(href='#') achievements
        li.nav-item
          a.nav-link(href='#') gallery
        li.nav-item
          a.nav-link(href='#') news media
        li.nav-item
          a.nav-link(href='#') contact US              
